// gray colors

$dark-gray: #30353a;
$light-gray: #e3e4e4;
$lighter-gray: #f1f1f2;
$transparent-gray: rgba(221, 221, 221, 0.87);;
$icon-gray: #535c65;
$footer-color: #98999b;
$text-gray: #686f76;
// primary color:
$orange: #ff7608;

// white
$white: #ffffff;